
/* fancy spacer */
		@media (min-width: 1025px) and (max-width: 1280px) 
		{
			.fancy_spacer_desktop {
				display: block;
			}
			.fancy_spacer_tabs {
				display: none;
			}
			.fancy_spacer_mobile {
				display: none;
			}	
		}

@media (min-width: 768px) and (max-width: 1024px) 
		{
			.fancy_spacer_desktop {
				display: none;
			}
			.fancy_spacer_tabs {
				display: block;
			}
			.fancy_spacer_mobile {
				display: none;
			}
		}

@media (min-width: 10px) and (max-width: 767px) 
		{
			.fancy_spacer_desktop {
				display: none;
			}
			.fancy_spacer_tabs {
				display: none;
			}
			.fancy_spacer_mobile {
				display: block;
			}
		}